<div class="container-fluid">
  <div class="row" id="nav">
    <div class="col">
      <span routerLink="sources" routerLinkActive="active">Sources</span>
    </div>
    <div class="col">
      <span routerLink="configurations" routerLinkActive="active">Configurations</span>
    </div>
    <div class="col">
      <span routerLink="run" routerLinkActive="active">Run</span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
