@import "global";

#nav {
  z-index: 10;
  background: linear-gradient(to bottom, #111, #333);
  color: white;
  font-size: 20px;
  align-items: center;
  height: $nav-height;
  text-align: center;

  div > span:hover {
    font-weight: bold;
    cursor: pointer;
  }
}

.active {
  font-weight: bold;
}
