$nav-height: 42px;
$toolbar-height: 48px;
$fixed-sidebar-width: 240px;

$blue-0: #006dff;
$blue-1: lighten($blue-0, 10%);
$blue-2: lighten($blue-1, 10%);
$blue-3: lighten($blue-2, 10%);
$blue-4: lighten($blue-3, 10%);

.sidebar {
  // padding: 10px 14px;
  // border-right: 1px solid #aaa;

  .category {
    margin-top: 8px;
    // padding: 6px 10px;

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 6px;
      padding: 0 8px 6px 8px;
      border-bottom: 1px solid #444;
    }

    ul {
      margin-bottom: 6px;
      list-style: none;
      padding-left: 4px;

      li {
        padding-left: 8px;
        //margin-bottom: 8px;

        &:hover {
          cursor: pointer;

          & > span {
            font-weight: bold;
          }
        }

        &.selected > span {
          font-weight: bold;
        }
      }
    }
  }

  &.fixed-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $fixed-sidebar-width;
  }
}

.toolbar {
  height: $toolbar-height;
}
