<div class="sidebar fixed-left" id="configs">
  <div class="category">
    <ul>
      <li *ngFor="let c of configs" [class.selected]="c === configSelected" (click)="selectConfig(c)">
        <span>{{c.name}}</span>
        <ul>
          <li
            *ngFor="let t of c.target"
            (click)="selectTarget(c, t)"
            propagationStop
            [class.selected]="targetSelected?.length === 1 && t === targetSelected[0]">
            <span>{{t.name}}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div id="content">
  <!--Analyse
    in: config, target[]
    out: iindex[]
  Preview
    in: config, {target, iindex}[]
    out: {target, iindex}[]
  Download
    in: config, {target, iindex}[]
    out: iindex[]
  every step must be taken one after another
  select launches first step (analyse)
  -->
</div>
