@import "../../global";

#configs {
  z-index: -1;
  overflow: auto;
  margin-top: $nav-height;
  background-color: $blue-2;
}

#content {
  position: fixed;
  overflow: auto;
  top: $nav-height;
  left: $fixed-sidebar-width;
  bottom: 0;
  right: 0;
}
