<div class="container-fluid">
  <div class="row">
    <div class="sidebar fixed-left" id="configs">
      <div class="category">
        <ul>
          <li *ngFor="let c of configs" (click)="selectConfig(c)" [class.selected]="configSelected === c"><span>{{c.name}}</span></li>
          <li (click)="newConfig()"><span>+</span></li>
        </ul>
      </div>
    </div>

    <div id="form" *ngIf="configSelected">
      <div class="toolbar" id="toolbar">
        <button class="btn btn-danger mr-2" (click)="deleteConfig()">Delete</button>
        <button class="btn btn-primary" (click)="saveConfig()">Save</button>
      </div>

      <div class="px-3 pt-2">
        <app-form [model]="configModel" [item]="configSelected"></app-form>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="sidebar col-3" id="sidebar-targets">
            <div class="category">
              <ul>
                <li *ngFor="let t of targets" (click)="selectTarget(t)" [class.selected]="targetSelected === t"><span>{{t.name}}</span></li>
                <li (click)="newTarget()"><span>+</span></li>
              </ul>
            </div>
          </div>

          <div class="col" id="content-targets" *ngIf="targetSelected">
            <div class="pt-2" id="target-form">
              <app-form [model]="targetModel" [item]="targetSelected" (itemChanged)="targetChanged($event)"></app-form>
            </div>

            <div id="args-form" *ngIf="targetArgsModel">
              <app-form [model]="targetArgsModel" [item]="targetSelected.options"></app-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
