@import "../../global";

#sources {
  z-index: -1;
  overflow: auto;
  margin-top: $nav-height;
  background-color: $blue-2;
}

#toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 14px;
  background-color: $blue-3;
}

#form {
  position: fixed;
  overflow: auto;
  top: $nav-height;
  left: $fixed-sidebar-width;
  right: 0;
  bottom: 0;
}
