<div class="container-fluid">
  <div class="row">
    <div class="sidebar fixed-left" id="sources">
      <div *ngFor="let n of modulesNames" class="category">
        <h5>{{n}}</h5>
        <ul>
          <li *ngFor="let i of getInstancesFor(n)" (click)="selectInstance(i)" [class.selected]="instanceSelected === i"><span>{{i.name}}</span></li>
          <li (click)="newInstance(n)"><span>+</span></li>
        </ul>
      </div>
    </div>

    <div id="form" *ngIf="instanceSelected">
      <div class="toolbar" id="toolbar" *ngIf="instanceSelected">
        <button class="btn btn-primary" (click)="saveInstance()">Save</button>
      </div>

      <div class="px-3 py-2">
        <app-form [model]="instanceSelectedModel" [item]="instanceSelected.args"></app-form>
      </div>
    </div>
  </div>
</div>
