<div *ngIf="model && form" [formGroup]="form" [class.no-margin-bottom]="parent">
  <ng-container *ngFor="let node of model.nodes">
    <div class="form-group row" *ngIf="!node.hideInput">
      <label class="col-3 col-form-label">{{node.name}}</label>
      <div class="col-9">
        <ng-container [ngSwitch]="node.controlType">
          <input type="text" *ngSwitchCase="ModelNodeControlType.String" class="form-control" [formControlName]="node.path">
          <input type="number" *ngSwitchCase="ModelNodeControlType.Number" class="form-control" [formControlName]="node.path">
          <div class="form-check" *ngSwitchCase="ModelNodeControlType.Checkbox">
            <input class="form-check-input position-static" type="checkbox" [formControlName]="node.path">
          </div>
          <ng-select
            *ngSwitchCase="ModelNodeControlType.Select"
            [items]="node.possibleValues"
            bindLabel="name"
            bindValue="value"
            [formControlName]="node.path"
            (change)="possibleValueChange(node, $event)">
          </ng-select>
          <div class="input-group" *ngSwitchCase="ModelNodeControlType.Browse">
            <input type="text" class="form-control" placeholder="Path" [formControlName]="node.path">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="openDialog(node.path)">Browse</button>
            </div>
          </div>
        </ng-container>

        <app-form *ngIf="node.childs" [model]="node.childs" [item]="item[node.path]" [parent]="node" (itemChanged)="onItemChanged($event)"></app-form>
      </div>
    </div>
  </ng-container>
</div>
